.satu {
    width: 300px;
    height: 100px;
    background-color: cyan;
    border: red dotted 8px;
    overflow: scroll;
}

.dua {
    width: 300px;
    height: 100px;
    background-color: cyan;
    border: green solid 3px;
    overflow: scroll;
}

.tiga {
    width: 300px;
    height: 100px;
    background-color: cyan;
    border: blue dashed 15px;
    overflow: scroll;
}